        <!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>Real Estate</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="~/AdminDashboard/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Jhon Doe</h6>
                <span>Admin</span>
            </div>
        </div>
        <div class="navbar-nav w-100" >
            <a href="#" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Go to WebSite</a>
            <a href="/Category/Index/" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Categories</a>
            <a href="/Employee/Index/" class="nav-item nav-link"><i class="fa fa-address-card me-2"></i>Employees</a>
            <a href="/AboutUs/Index/" class="nav-item nav-link"><i class="fa fa-bookmark me-2"></i>About Us</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fa fa-tags me-2"></i>Products</a>
            <a href="/AboutUs/Index/" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Charts</a>
            <a href="/Statistic/Index/" class="nav-item nav-link"><i class="fa fa-tint me-2"></i>Statistics</a>
            <a href="/AboutUs/Index/" class="nav-item nav-link"><i class="fa fa-code me-2"></i>Api-s</a>
            <a href="/Service/Index/" class="nav-item nav-link"><i class="fa fa-snowflake me-2"></i>Services</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fa fa-map-marker me-2"></i>Pop Locations</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fa fa-comment me-2"></i>Testimonials</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fa fa-align-justify me-2"></i>Blog</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fa fa-spinner me-2"></i>Feature</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fa fa-step-forward me-2"></i>Prosedures</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fa fa-reply me-2"></i>Mail List</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fa fa-share me-2"></i>Mail Operations</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fa fa-info me-2"></i>Contact Info</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fa fa-envelope me-2"></i>Incoming Messages</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fa fa-cog me-2"></i>Settings</a>
            <a href="/Product/Index/" class="nav-item nav-link"><i class="fa fa-user-times me-2"></i>Log out</a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->