@model List<RealEstate_Dapper_UI.Dtos.CategoryDtos.ResultCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Category Table</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Category</th>
                                <th scope="col">Status</th>
                                <th scope="col">Delete</th>
                                <th scope="col">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model){
                                <tr>
                                    <th scope="row">@item.CategoryID</th>
                                    <td>@item.CategoryName</td>
                                    <td>@item.CategoryStatus</td>
                                    <td>
                                        <a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-outline-danger">Delete</a>
                                    </td>
                                    <td>
                                        <a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-outline-warning">Update</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>