@model List<RealEstate_Dapper_UI.Dtos.ServiceDtos.ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">About Section Services</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td>@item.ServiceName</td>
                                    <td>@item.ServiceStatus</td>
                                    <td>
                                        <a href="/Service/DeleteService/@item.ServiceID" class="btn btn-outline-danger">Delete</a>
                                    </td>
                                    <td>
                                        <a href="/Service/UpdateService/@item.ServiceID" class="btn btn-outline-warning">Update</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Service/CreateService/" class="btn btn-outline-primary">Create a New Service</a>
                </div>
            </div>
        </div>
    </div>
</div>