@model List<RealEstate_Dapper_UI.Dtos.PopularLocationDtos.ResultPopularLocationDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
    int count = 0;
}

<style>
    img{
        border-radius:50%;
        height: 50px;
        width: 50px;
    }
</style>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Popular Locations Section</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">City Name</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <td>@count</td>
                                    <td><img src="@item.ImageURL" alt="" /> @item.CityName</td>
                                    <td>
                                        <a href="/PopularLocation/DeletePopularLocation/@item.PopularLocationID" onclick="return confirm('Silmek istediğinize emin misiniz?')" 
                                        class="btn btn-outline-danger">Delete</a>
                                    </td>
                                    <td>
                                        <a href="/PopularLocation/UpdatePopularLocation/@item.PopularLocationID" class="btn btn-outline-warning">Update</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/PopularLocation/CreatePopularLocation/" class="btn btn-outline-primary">Create a New PopularLocation</a>
                </div>
            </div>
        </div>
    </div>
</div>